name: weixin
on:
    workflow_dispatch:
    schedule:
    - cron: '0 23 * * *'
jobs: 
  build:
    runs-on:ubuntu-latest
    steps:
      - uses:action/checkout@v2
      
      - nameï¼šSet up Python3.9
       uses:actions/checkout@v2
       with:
        python-version:3.9.1
      - name:Set timezone
        run:
            cp / usr / zoneinfo / Asia / shanghai / etc / localtime
      - name:install pip packages
        run:
        python -m pip install --upgrade pip 
        pip3 install -r requirements.txt
      - name:weixin
        run:
          python3 main.py
  
